@import "antd/dist/antd.css";

.layout {
  height: 100vh;
}
.ant-layout-sider {
  overflow: auto;
  left: 0;
  position: fixed;
  height: 100vh;
  width: fit-content;
  background: #0b4141;
}

.ant-layout-content,
.ant-layout-footer {
  background: #faf0dc;
}

.ant-layout-header {
  background: #faf0dc;
  height: 150px;
}
